{{!< default}}

<div class="home-hero-container">
	<img class="hom-hero__banner-img" src={{asset "assets/images/hero-banner-image.svg"}} alt="hero banner image">
	<div class="home-hero w-1200">
		<img class="home-hero__logo" src={{asset "assets/images/hero-logo-image.svg"}} alt="logo image">
		<h1 class="home-hero__title">The latest news and updates for Runestake</h1>
	</div>
</div>
<div class="home-body-container">
	<div class="home-body w-1200">
		<div class="home-featured">
			{{#get "posts" include="tags,authors" limit="1" filter="featured:true"}}
				{{#foreach posts}}
					{{> big-card}}
				{{/foreach}}
			{{/get}}
		</div>
		<div class="home-posts post-feed">
			{{#foreach posts}}
				{{> card}}
			{{/foreach}}
			
		</div>
		<div class="pagination">
			{{pagination}}
		</div>
	</div>
</div>

