{{!< default}}

<div class="tag-page w-1200">
   {{#tag}}
        <header class="tag-page__header">

            <h1 class="tag-page__title">{{name}}</h1>

            <p class="tag-page__subtitle">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>

        </header>
        {{/tag}}

        <div class="tag-page__body">
        {{#foreach posts}}

            {{> card}}

        {{/foreach}}
        </div>
</div>
