// MEDIA QUERY MANAGER
/*
0 - 600 : Phone
600 - 900 : Tablet portrait 
900 - 1200 : Tablet landscape
[1200 - 1800] : is where aor normal styles apply
1800 + : big screens 
$breakpoint argument choises
- phone 
- tab-port
- tab-land
- big-desktop
1em = 16px
ORDER: Base + typography > general layout + grid > page layout > components 
*/
@mixin respond($breakpoint) {
	@if $breakpoint ==500px {
		@media only screen and (max-width: 31.2em) {
			@content
		}

		;
	}

	@if $breakpoint ==600px {
		@media only screen and (max-width: 37.5em) {
			@content
		}

		;
	}

	@if $breakpoint ==700px {
		@media only screen and (max-width:  43.7em) {
			@content
		}

		;
	}

	@if $breakpoint ==800px {
		@media only screen and (max-width:  50em) {
			@content
		}

		;
	}

	@if $breakpoint ==900px {
		@media only screen and (max-width: 56.25em) {
			@content
		}

		;
	}

	@if $breakpoint ==1000px {
		@media only screen and (max-width: 62.5em) {
			@content
		}

		;
	}

	@if $breakpoint ==1200px {
		@media only screen and (max-width: 75em) {
			@content
		}

		;
	}

	@if $breakpoint ==big-desktop {
		@media only screen and (min-width: 112.5em) {
			// 1800px
			@content
		}

		;
	}
}

html {
	// This defines what 1 rem is 
	font-size: 62.5% !important; // 1rem = 10px; 10px/16px = 62.5%

	@include respond(1200px) {
		font-size: 53.12% !important; // 1 rem = 9 px; 9/16px = 56.25%
	}

	// @include respond(1000px) {
	// 	font-size: 50% !important; // 1 rem = 8px; 8/16px = 50% 
	// }

	// @include respond(900px) {
	// 	font-size: 43% !important; // 1 rem = 7px; 7/16 = 43%
	// }

	// @include respond(big-desktop) {
	// 	font-size: 75% !important; // 1rem = 12px; 12/16px = 75%
	// }

	scroll-behavior: smooth;
}



/* FONTS */

$default-font: 'Quantico', sans-serif;

* {
	font-family: $default-font !important;
}

/* COLORS */

$bg-color: #172030;
$accent-color: #0fb5d6;
$text-color: #9ea8b0;

body {
	background: linear-gradient(to right, #141e30, #192c42);
}

/* CLASSES */

.w-1200 {
	max-width: 1200px;
	margin: 0 auto;
}

#ghost-portal-root {
	display: none;
}

.safe-margin {
	margin-right: 2rem !important;
	margin-left: 2rem !important;
}

.safe-margin-5 {
	margin-right: 3rem !important;
	margin-left: 3rem !important;

	@media (max-width:600px) {
		margin-right: 2rem !important;
		margin-left: 2rem !important;
	}
}