.header-container {
	.header {
		padding: 2rem 0;
		color: $text-color;
		display: flex;
		align-items: center;
		justify-content: space-between;
	
		&__nav {
			display: flex;
			align-items: center;
		}
		&__nav-link {
			font-size: 1.8rem;
			margin-right: 2rem;
			position: relative;
			transition: all .3s;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -0.5rem;
				height: 1px;
				width: 0;
				background: transparent;

				transition: all .3s;
			}

			&:hover {
				color: $accent-color;
			}

			&:hover::after {
				width: 100%;
				background: $accent-color;
			}
		}
	}
}

.header__share {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}
.header__share-link {
	border-radius: 50%;
	border: 1px solid transparent;
	background: #253044;
	padding: 1rem;
	transition: all .3s;

	img {
		height: 2rem;
		width: 2rem;
	}

	&:hover {
		border-color: $accent-color
	}
}
