.home-hero-container {
	position: relative;
	height: 31rem;

	@media (max-width:850px) {
		height: 28rem;
	}

	@media (max-width:650px) {
		height: 24rem;
	}

	@media (max-width:550px) {
		height: 20rem;
	}

	@media (max-width:450px) {
		height: 15rem;
	}

	.hom-hero__banner-img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.home-hero {
		height: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 10;
		align-items: center;
		justify-content: center;

		&__logo {
			width: 20rem;
			margin-bottom: 2rem;
		}
		&__title {
			font-size: 2.4rem;
			text-align: center;
			max-width: 70rem;
			color: #fff;
			// text-transform: uppercase;
			max-width: 70vw;
		}
	}
}


/* BODY */

.home-body-container {


	.home-body {
		
	}

	.home-featured {
		padding: 3rem 0;

		@media (max-width:600px) {
			padding: 2rem 0 3rem;
		}
	}

	.home-posts {
		display: flex;
		flex-wrap: wrap;
		column-gap: 2.5rem;
		row-gap: 3rem;
	}

	.pagination {
		display: none;
	}
	
}

