.post-page-container {

	.post-page {
	}
	.post-header {
		padding-top: 7rem;

		&__title {
			margin: 0 auto;
			color: $accent-color;
			font-size: 4.5rem;
			text-align: center;
			max-width: 70rem;
			margin-bottom: 2.4rem;
		}
		&__tags {
			width: max-content;
			margin: 0 auto;
			
			a {
				color: $accent-color;
				text-decoration: none;
				font-size: 2.2rem;
				transition: all .3s;
	
				&:hover {
					color: #acdce6 !important;
				}
			}

			margin-bottom: 4rem;
		}
		&__image-box {
			width: 100%;
			height: max-content;
			margin-bottom: 2rem;
		}
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.b-card__footer {
		}
		.b-card__author-img {
		}
		.b-card__footer-info {
		}
		.b-card__name {
		}
		.b-card__footer-time {
		}
		.b-card__date {
		}
		.b-card__separator {
		}
		.b-card__read-time {
		}
	}

	.post-body {
		padding-top: 5rem;
		max-width: 800px;
		margin: 0 auto;

		h2 {
			color: $accent-color;
			font-size: 4rem;
			line-height: 1.2;
			margin: 2.4rem 0;
		}

		h3 {
			color: $accent-color;
			font-size: 3rem;
			line-height: 1.2;
			margin: 1.6rem 0;
		}

		p {
			color: #bfbfbf;
			line-height: 1.2;
			font-size: 1.8rem;
			margin: 5rem 0;
			letter-spacing: 0.5px;
		}

		img {
			margin: 2.4rem 0;
		}

		.kg-button-card a.kg-btn-accent {
			color: #fff !important;
		}

		a {
			word-break: break-all;
			color: $accent-color !important;
		}

		strong {
			color: $accent-color;
		}

		ol {
			color: #bfbfbf;
			font-size: 1.8rem;
			letter-spacing: .5px;
			line-height: 1.2;
			margin: 2rem 0;
			opacity: 1;
			padding-left: 20px;
		}
	}

	.post-footer {
		padding: 7rem 0 5rem;
		
		&__title {
			color: $accent-color;
			line-height: 1.2;
			font-size: 3rem;
			margin-bottom: 3rem;
		}

		&__cards {
			display: flex;
			justify-content: space-between;

			@media (max-width:600px) {
				flex-wrap: wrap;
			}
		}

		.card {
			@media (max-width:900px) {
				&:last-child {
					display: none;
				}
			}
			@media (max-width:600px) {
				&:last-child {
					display: block;
				}
			}
		}
	}
	
}
