/*
0 - 600 : Phone
600 - 900 : Tablet portrait 
900 - 1200 : Tablet landscape
[1200 - 1800] : is where aor normal styles apply
1800 + : big screens 
$breakpoint argument choises
- phone 
- tab-port
- tab-land
- big-desktop
1em = 16px
ORDER: Base + typography > general layout + grid > page layout > components 
*/
html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 53.12% !important;
  }
}

/* FONTS */
* {
  font-family: "Quantico", sans-serif !important;
}

/* COLORS */
body {
  background: linear-gradient(to right, #141e30, #192c42);
}

/* CLASSES */
.w-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

#ghost-portal-root {
  display: none;
}

.safe-margin {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.safe-margin-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
@media (max-width: 600px) {
  .safe-margin-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }
}

.header-container .header {
  padding: 2rem 0;
  color: #9ea8b0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .header__nav {
  display: flex;
  align-items: center;
}
.header-container .header__nav-link {
  font-size: 1.8rem;
  margin-right: 2rem;
  position: relative;
  transition: all 0.3s;
}
@media (max-width: 400px) {
  .header-container .header__nav-link {
    margin-right: 1.2rem;
  }
}
.header-container .header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 1px;
  width: 0;
  background: transparent;
  transition: all 0.3s;
}
.header-container .header__nav-link:hover {
  color: #0fb5d6;
}
.header-container .header__nav-link:hover::after {
  width: 100%;
  background: #0fb5d6;
}

.header__share {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 600px) {
  .header__share {
    display: none;
  }
}

.dropdown {
  display: none;
}
@media (max-width: 600px) {
  .dropdown {
    display: block;
  }
}
.dropdown__close {
  width: 4.41rem;
  height: 4.41rem;
  padding: 1rem;
  border: 1px solid #0fb5d6;
  border-radius: 10px;
  display: none;
}
.dropdown__title {
  color: #0fb5d6;
  font-size: 1.8rem;
  line-height: 1.2;
  padding: 1.1rem 1.5rem;
  border: 1px solid #0fb5d6;
  border-radius: 10px;
}
@media (max-width: 400px) {
  .dropdown__title {
    font-size: 1.6rem;
    padding: 1.1rem 1.2rem;
  }
}
.dropdown.active > .dropdown__title {
  display: none;
}
.dropdown.active > .dropdown__close {
  display: block;
}
.dropdown.active > .dropdown__body {
  right: 1.5rem;
}
.dropdown__body {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: fixed;
  top: 8rem;
  right: -110%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 100;
  padding: 1rem;
  background: linear-gradient(to right, #141e30, #192c42);
  border: 1px solid #0fb5d6;
  border-radius: 10rem;
  transition: all 0.3s ease-out;
}
.dropdown__link {
  border-radius: 50%;
  border: 1px solid transparent;
  background: #253044;
  padding: 1rem;
  transition: all 0.3s;
}
.dropdown__link img {
  height: 2rem;
  width: 2rem;
}
.dropdown__link:hover {
  border-color: #0fb5d6;
}

.header__share-link {
  border-radius: 50%;
  border: 1px solid transparent;
  background: #253044;
  padding: 1rem;
  transition: all 0.3s;
}
.header__share-link img {
  height: 2rem;
  width: 2rem;
}
.header__share-link:hover {
  border-color: #0fb5d6;
}

.home-hero-container {
  position: relative;
  height: 31rem;
}
@media (max-width: 850px) {
  .home-hero-container {
    height: 28rem;
  }
}
@media (max-width: 650px) {
  .home-hero-container {
    height: 24rem;
  }
}
@media (max-width: 550px) {
  .home-hero-container {
    height: 20rem;
  }
}
@media (max-width: 450px) {
  .home-hero-container {
    height: 15rem;
  }
}
.home-hero-container .hom-hero__banner-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-hero-container .home-hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.home-hero-container .home-hero__logo {
  width: 20rem;
  margin-bottom: 2rem;
}
.home-hero-container .home-hero__title {
  font-size: 2.4rem;
  text-align: center;
  max-width: 70rem;
  color: #fff;
  max-width: 70vw;
}

/* BODY */
.home-body-container .home-featured {
  padding: 3rem 0;
}
@media (max-width: 600px) {
  .home-body-container .home-featured {
    padding: 2rem 0 3rem;
  }
}
.home-body-container .home-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-body-container .pagination {
  display: none;
}

.footer {
  padding: 5rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .footer .footer__logo {
    margin: 0 auto;
  }
}
.footer .footer__copy {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #9ea8b0;
  width: 100%;
  text-align: center;
}

.b-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media (max-width: 650px) {
  .b-card {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}
@media (max-width: 600px) {
  .b-card {
    flex-direction: column;
  }
}
.b-card__left {
  min-width: calc(63.2% + 3rem);
  height: 38rem;
}
@media (max-width: 900px) {
  .b-card__left {
    min-width: 60%;
    height: 34rem;
  }
}
@media (max-width: 768px) {
  .b-card__left {
    min-width: 48.4%;
  }
}
@media (max-width: 600px) {
  .b-card__left {
    min-width: 100%;
    margin-bottom: 1rem;
    height: 24rem;
  }
}
.b-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.b-card__right {
  overflow: hidden;
}
.b-card a {
  text-decoration: none;
}
.b-card__tags {
  margin-bottom: 1.6rem;
}
.b-card__tags a {
  color: #0fb5d6;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s;
}
.b-card__tags a:hover {
  color: #acdce6 !important;
}
@media (max-width: 600px) {
  .b-card__tags a {
    font-size: 1.8rem;
  }
}
@media (max-width: 600px) {
  .b-card__tags {
    margin-bottom: 1rem;
  }
}
.b-card__title {
  color: #0fb5d6;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.b-card__title:hover {
  color: #acdce6 !important;
}
@media (max-width: 600px) {
  .b-card__title {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
  }
}
.b-card__content {
  color: #9ea8b0;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
}
@media (min-width: 601px) {
  .b-card__content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 600px) {
  .b-card__content {
    height: 80px;
    overflow: hidden;
  }
}
.b-card__content *:not(p) {
  display: none;
}
@media (max-width: 600px) {
  .b-card__content {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
}
.b-card__footer {
  display: flex;
  align-items: center;
}
.b-card__author-img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  margin-right: 1.4rem;
}
.b-card__footer-info {
  display: flex;
  flex-direction: column;
}
.b-card__name {
  color: #919191;
  font-size: 1.5rem;
}
.b-card__footer-time {
  display: flex;
  align-items: center;
  color: #9ea8b0;
  font-size: 1.3rem;
  line-height: 1.2;
}
.b-card__separator {
  margin: 0 1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #9ea8b0;
}
/* CARD */
.card {
  width: 31.6%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
@media (max-width: 900px) {
  .card {
    width: 48.4%;
  }
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.card__image-box {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
}
@media (max-width: 900px) {
  .card__image-box {
    height: 24rem;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__tags {
  margin-bottom: 1rem;
}
.card__tags a {
  color: #0fb5d6;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.card__tags a:hover {
  color: #acdce6 !important;
}
.card a {
  text-decoration: none;
}
.card__title {
  color: #0fb5d6 !important;
  font-size: 2.4rem;
  line-height: 1.2;
  transition: all 0.3s;
  margin-bottom: 1.4rem;
}
.card__title:hover {
  color: #acdce6 !important;
}
.card__content {
  color: #9ea8b0;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
}
@media (min-width: 601px) {
  .card__content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 600px) {
  .card__content {
    height: 80px;
    overflow: hidden;
  }
}
.card__content *:not(p) {
  display: none;
}
.card .b-card__footer {
  margin-top: auto;
}
.post-page-container .post-header {
  padding-top: 7rem;
}
.post-page-container .post-header__title {
  margin: 0 auto;
  color: #0fb5d6;
  font-size: 4.5rem;
  text-align: center;
  max-width: 70rem;
  margin-bottom: 2.4rem;
}
.post-page-container .post-header__tags {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.post-page-container .post-header__tags a {
  color: #0fb5d6;
  text-decoration: none;
  font-size: 2.2rem;
  transition: all 0.3s;
}
.post-page-container .post-header__tags a:hover {
  color: #acdce6 !important;
}
.post-page-container .post-header__image-box {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 2rem;
}
.post-page-container .post-header__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-page-container .post-body {
  padding-top: 5rem;
  max-width: 800px;
  margin: 0 auto;
}
.post-page-container .post-body h2 {
  color: #0fb5d6;
  font-size: 4rem;
  line-height: 1.2;
  margin: 2.4rem 0;
}
.post-page-container .post-body h3 {
  color: #0fb5d6;
  font-size: 3rem;
  line-height: 1.2;
  margin: 1.6rem 0;
}
.post-page-container .post-body p {
  color: #bfbfbf;
  line-height: 1.2;
  font-size: 1.8rem;
  margin: 1.6rem 0;
  letter-spacing: 0.5px;
}
.post-page-container .post-body img {
  margin: 2.4rem 0;
}
.post-page-container .post-body a {
  word-break: break-all;
}
.post-page-container .post-body strong {
  color: #0fb5d6;
}
.post-page-container .post-footer {
  padding: 7rem 0 5rem;
}
.post-page-container .post-footer__title {
  color: #0fb5d6;
  line-height: 1.2;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.post-page-container .post-footer__cards {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .post-page-container .post-footer__cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 900px) {
  .post-page-container .post-footer .card:last-child {
    display: none;
  }
}
@media (max-width: 600px) {
  .post-page-container .post-footer .card:last-child {
    display: block;
  }
}

.tag-page__header {
  padding: 5rem 0 10rem;
}
.tag-page__title {
  color: #0fb5d6;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 5.5rem;
}
.tag-page__subtitle {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  color: #0fb5d6;
  font-size: 1.8rem;
}
.tag-page__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 7rem;
}